.container {
  width: 95%;
  margin: 0 auto;
  padding: 20px 0;
}
.rows {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 50px;
}
.box-color {
  flex: 20%;
  height: 150px;
  border-radius: 10px;
  text-align: center;
  color: #fff;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
